 {% extends 'base.html.twig' %}

{% block title %} Page Auteur {% endblock %}

{% block body %}
 
    <h1> {% block pageTitle %} Nouvel Auteur {% endblock %}</h1>
   {{ form(form) }}
 

{% endblock %}