{% extends 'base.html.twig' %}

{% block title %} Nouvelle categorie {% endblock %}

{% block body %}

        <h1> {% block pageTitle %} Nouvelle categorie {% endblock %} </h1> 
        
        {{form(form)}}


{% endblock %}