 {% extends 'base.html.twig' %}

{% block title %} Page Nouveau Livre {% endblock %}

{% block body %}
 
    <h1> {% block pageTitle %} Nouveau Livre {% endblock %}</h1>
   {{ form(form) }}
 

{% endblock %}